*{
    margin: 0;
    padding: 0;
}

ul,li{
    list-style: none;
}

a{
    color: #333;
    text-decoration: none;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    
}
footer{
    background-color: #000;
    color: #fff;
}
